.coverage
.envrc
.tox
.vscode
*.DS_store
*.o
*.pyc
btrack.egg-info
btrack/__pycache__
btrack/agents.py
btrack/include/eigen
btrack/optimise/__pycache__
btrack/render_movie.py
build
bworker.py
coverage.xml
deprecated
dist
docs/api/*
examples/.ipynb_checkpoints
examples/napari.png
models/MDCK_*
notebooks
