__pycache__
.coverage
.envrc
.hypothesis
.tox
.vscode
*.DLL
*.DS_store
*.dylib
*.egg-info
*.ipynb_checkpoints
*.o
*.pyc
*.so
btrack/agents.py
btrack/include/eigen
btrack/render_movie.py
build
bworker.py
coverage.xml
deprecated
dist
docs/api/*
examples/napari.png
models/MDCK_*
models/test_config.json
notebooks
wheelhouse
