repos:
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: v0.0.278
      hooks:
        - id: ruff
    - repo: https://github.com/Lucas-C/pre-commit-hooks
      rev: v1.5.3
      hooks:
        - id: remove-tabs
          exclude: Makefile|docs/Makefile|\.bat$
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: check-case-conflict
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-merge-conflict
          - id: check-toml
          - id: end-of-file-fixer
          - id: mixed-line-ending
            args: [--fix=lf]
          - id: trailing-whitespace
            args: [--markdown-linebreak-ext=md]
    - repo: https://github.com/psf/black
      rev: 23.7.0
      hooks:
          - id: black
    - repo: https://github.com/pappasam/toml-sort
      rev: v0.23.1
      hooks:
        - id: toml-sort-fix
    - repo: https://github.com/pre-commit/mirrors-clang-format
      rev: v16.0.6
      hooks:
      - id: clang-format
        types_or: [c++, c, cuda]
