repos:
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: v0.0.254
      hooks:
        - id: ruff
    - repo: https://github.com/Lucas-C/pre-commit-hooks
      rev: v1.4.2
      hooks:
        - id: forbid-tabs
          exclude: Makefile|docs/Makefile|\.bat$
        - id: remove-tabs
          exclude: Makefile|docs/Makefile|\.bat$
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.2.0
      hooks:
          - id: check-case-conflict
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-merge-conflict
          - id: check-toml
          - id: end-of-file-fixer
          - id: mixed-line-ending
            args: [--fix=lf]
          - id: requirements-txt-fixer
          - id: trailing-whitespace
            args: [--markdown-linebreak-ext=md]
    - repo: https://github.com/psf/black
      rev: 22.3.0
      hooks:
          - id: black
    - repo: https://github.com/pappasam/toml-sort
      rev: v0.22.4
      hooks:
        - id: toml-sort-fix
