btrack/include/eigen
btrack/__pycache__
btrack/optimise/__pycache__
btrack/agents.py
btrack/render_movie.py
models/MDCK_*
examples/napari.png
examples/.ipynb_checkpoints
notebooks
deprecated
dist
build
btrack.egg-info
bworker.py
*.DS_store
*.o
*.pyc
.vscode

docs/api/*

.tox
.coverage
coverage.xml
.envrc

models/*
