name: Run tests

# run on all pull requests, but only pushes to main
on:
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - "btrack/include/**"
      - "btrack/src/**"
      - ".napari-hub/**"
      - "examples/**"
      - "README.md"
      - "CHANGELOG.rst"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "btrack/include/**"
      - "btrack/src/**"
      - ".napari-hub/**"
      - "examples/**"
      - "README.md"
      - "CHANGELOG.rst"

jobs:
  build:
    name: ${{ matrix.platform }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        # Run all supported Python versions on linux
        python-version: ["3.8", "3.9", "3.10"]
        platform: [ubuntu-latest]
        # Include one windows and macos run
        include:
          - platform: macos-latest
            python-version: "3.9"
          - platform: windows-latest
            python-version: "3.9"

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}

      # note: if you need dependencies from conda, considering using
      # setup-miniconda: https://github.com/conda-incubator/setup-miniconda
      # and
      # tox-conda: https://github.com/tox-dev/tox-conda
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install "tox<4" tox-gh-actions tox-conda

      - name: Test with tox
        run: tox

      - name: Coverage
        uses: codecov/codecov-action@v2
